body {
    font-family: Arial, sans-serif;
    background-color:  #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
}

#result {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #b4157d;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3;
    transform: translateY(2px);
}
